<h1>Aquí va la lista de amigos</h1>

<% friends.forEach(function(friend) { %>
    <li>I have a friend <%= friend %></li>
<% }); %>

<form action="/addfriend" method="POST">
    <input type="text" placeholder="Nombre" name="newfriend">
    <button type="">Un nuevo amigo</button>
</form>