h1 {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    width: 120px;
    height: 120px;
}

.vertical {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.horizontal {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}