<h1>Results Page</h1>

<ul>
    <% data["Search"].forEach(function(movie) { %>
        <li>
            <strong><%= movie["Title"] %></strong> - <%= movie["Year"] %>
        </li>
    <% }) %>
</ul>
<a href="/">Search Again</a>