<% include ./partials/header.ejs %>

<div class="ui main text container segment">
    <div class="ui huge header">Edit <%= blog.title %></div>
    <form class="ui form" action="/blogs/<%= blog._id %>?_method=PUT" method="POST"> <!--dejando method como POST y agregando después del texto ejs los siguiente ?_method=PUT logramos agregar los cambios al HTML que no se pueden de la manera tradicional method=PUT. Para que lo anterior funcione, es necesario instalar el paquete method-override en npm-->
        <div class="field">
            <label for="">Title</label>
            <input type="text" name="blog[title]" value="<%= blog.title %>">
        </div>
        <div class="field">
            <label for="">Image</label>
            <input type="text" name="blog[image]" value="<%= blog.image %>">
        </div>
        <div class="field">
            <label for="">Blog Content</label>
            <textarea name="blog[body]"><%= blog.body %></textarea>
        </div>
        <input class="ui positive big basic button" type="submit">
    </form>
</div>

<% include ./partials/header.ejs %>