<% include ./partials/header.ejs %>

<div class="ui main text container segment">
    <div class="ui huge header">New Blog</div>
    <form class="ui form" action="/blogs" method="POST">
        <div class="field">
            <label for="">Title</label>
            <input type="text" name="blog[title]" placeholder="title">
        </div>
        <div class="field">
            <label for="">Image</label>
            <input type="text" name="blog[image]" placeholder="image">
        </div>
        <div class="field">
            <label for="">Blog Content</label>
            <textarea name="blog[body]" placeholder="blog post goes here"></textarea>
        </div>
        <input class="ui positive big basic button" type="submit">
    </form>
</div>

<% include ./partials/header.ejs %>