<% include ./partials/header.ejs %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>" width="600"></img>
            <div class="content">
                <span> <%= blog.created.toDateString() %></span>
            </div>
            <div class="description">
                <p><%- blog.body %></p>                
            </div>
            <a class="ui orange button" href="/blogs/<%= blog._id %>/edit">Edit</a>
            <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                <button class="ui red button">Delete</button>
            </form>
        </div>
    </div>
</div>

<% include ./partials/header.ejs %>