body {
    width: 65%;
    border: 20px solid #B3BBBF;
    margin: 15px auto;
    font-family: Open Sans;
}

article {
    width: 95%;
    margin: 10px auto;
}

article p:nth-of-type(1) {
    border-left: 5px solid #B3BBBF;
    padding-left: 5px;
}

h2 {
    text-transform: uppercase;
    color: #3498db;
    letter-spacing: 3px;
    font-size: 15px;
    font-weight: 400;
}

h1 {
    font-size: 25px;
    font-weight: 800;
}

article:nth-of-type(1) {
    border-bottom: 1px solid #B3BBBF;
}