<!DOCTYPE html>
    <html lang="es">
        <head>
            <title>Home</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="/styles.css" rel="stylesheet">
        </head>
        <body>