<h1>Secret Page</h1>

<p>You found me!</p>

<img src="https://static.pexels.com/photos/292542/pexels-photo-292542.jpeg" alt="Black and White Image" width="1200">

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>