<% include partials/header %>

<h1>Esta es la página de Inicio</h1>
<img src="http://3.bp.blogspot.com/-8Txmz3QfQhE/UHq81nnjCWI/AAAAAAAAI7c/bV4TtG_06oE/s1600/Beauty+Dog+at+The+Table+Wallpaper.jpg" alt="Beauty Dog" width="350">

<% include partials/footer %>