<% include partials/header %>

<!--<h1>You fell in love with: 5 + 5 = <%= 5 + 5 %></h1>-->
<!--Se coloca Javascript dentro de <%= %>-->
<!--<h1>You fell in love with: <%= thingVar %></h1>-->
<h1>You fell in love with: <%= thingVar.toUpperCase() %></h1>
<% if(thingVar.toLowerCase() === "rusty"){ %>
    <p>Buen trabajo, Rusty es el mejor!</p>
<% }else { %>
    <p>Que mal, hubieras escogido rusty</p>
<% } %>
<p>This is comming from the file love.ejs</p>

<% include partials/footer %>