<% include partials/header %>

<h1>Página de Posts</h1>

<% for(var i = 0; i < posts.length; i++) { %>
    <!--<li>Post Goes Here !!!</li>-->
    <li>
        <%= posts[i].title %> - Posteado por: <strong><%= posts[i].author %></strong>
    </li>
<% } %>

<% posts.forEach(function(post) { %>
    <li>
        <%= post.title %> - Posteado por: <strong><%= post.author %></strong>
    </li>
<% }) %>

<% include partials/footer %>