<!DOCTYPE html>
    <html lang="es">
        <head>
            <title>Blog RESTful Route</title>
            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.css">
            <link rel="stylesheet" type="text/css" href="/stylesheets/app.css"> <!--Se agregó el "/" previo a la carpeta stylesheets, debido a que si no lo tiene, los estilos no se aplican a todos los archivos ejs que incluyen el header-->
            <meta charset="UTF-8">
        </head>
        <body>
            <div class="ui fixed inverted menu">
                <div class="ui container">
                    <div class="header item"><i class="code icon big"></i>Blog Site</div>
                    <a href="/blogs" class="item">Home</a>
                    <a href="/blogs/new" class="item">New Post</a>
                </div>
            </div>